name: CI/CD Pipeline

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install uv
            uv sync --group dev

      - name: Run tests
        env:
          GEMINI_API_KEY: "fakeKey"
          CRYPTO_API_KEY: "fakeKey"
        run: |
          uv run pytest

      - name: Lint with ruff
        run: |
          uv run ruff check .

      - name: Build Docker image
        run: |
          docker build -t trading-bot:${{ github.sha }} .
        
